<div class="top-container">
  <div class="title-div">
    <h1>Credit Card Validator</h1>
    <h2>Using Luhn Algorithm</h2>
  </div>

  <div class="input-div">
    <input type="text" class="input"
           [(ngModel)]="currentNumber">
  </div>

  <div class="button-div">
    <button class="button" (click)="validate();">
      Submit
    </button>
  </div>

  <div class="center">
    <div class="status-div-outer">
      <span class="status-label">STATUS: </span>
      <div class="status-div-inner">
        <span class="status">{{currentStatus}}</span>
      </div>
    </div>
  </div>
  <div class="center">
    <div class="card-type-div">
      <span class="status-label">Type: </span>

      <span class="status" *ngIf="currentCardType === 'N/A'">N/A</span>

      <img src="../assets/images/Visa-logo.png"
           title="Visa" alt="Visa" height="18px"
           *ngIf="currentCardType === 'Visa'">

      <img src="../assets/images/Discover-logo.jpg"
           title="Discover" alt="Discover" height="18px"
           *ngIf="currentCardType === 'Discover'">

      <img src="../assets/images/DC-international.png"
           title="Visa" alt="Visa" height="18px"
           *ngIf="currentCardType === 'Diners Club'">

      <img src="../assets/images/MasterCard-logo.png"
           title="MasterCard" alt="MasterCard" height="18px"
           *ngIf="currentCardType === 'MasterCard'">

      <img src="../assets/images/JCB-logo.png"
           title="JCB" alt="JCB" height="18px"
           *ngIf="currentCardType === 'JCB'">

      <img src="../assets/images/AMEX-logo.png"
           title="AMEX" alt="AMEX" height="18px"
           *ngIf="currentCardType === 'American Express'">
    </div>

  </div>

  <div class="center">

    <div class="display table-container">

      <div class="table-title">Credit Card Numbers For Testing Purposes Only</div>

      <div class="display div">
        <table>
          <tr>
            <th>
              <img src="../assets/images/Visa-logo.png" title="Visa" alt="Visa" height="18px">
            </th>
            <th>
              <img src="../assets/images/MasterCard-logo.png" title="MasterCard" alt="MasterCard"
                   height="18px">
            </th>
            <th>
              <img src="../assets/images/AMEX-logo.png" title="AMEX"
                   alt="AMEX"
                   height="18px">
            </th>
          </tr>
          <tr>
            <td>4111 1111 1111 1111</td>
            <td>5505 0326 0378 1347</td>
            <td>3718 892513 11442</td>
          </tr>
          <tr>
            <td>4024 0071 5609 7841</td>
            <td>5500 0000 0000 0004</td>
            <td>3716 8224 4230 864</td>
          </tr>
          <tr>
            <td>4539 6719 6461 9076</td>
            <td>5496 8640 0276 4057</td>
            <td>3425 9620 7858 956</td>
          </tr>
          <tr>
            <td>4539 6719 6461 9076</td>
            <td>5423 4829 8607 5669</td>
            <td>3454 3383 9729 073</td>
          </tr>
        </table>
      </div>

      <div class="display div">
        <div class="display full-width">
          <table>
            <tr>
              <th>
                <img src="../assets/images/Discover-logo.jpg" title="Discover" alt="Discover"
                     height="18px">
              </th>
              <th>
                <img src="../assets/images/JCB-logo.png" title="JCB" alt="JCB"
                     height="18px"></th>
              <th>
                <img src="../assets/images/DC-international.png" title="Diners Club" alt="Diners Club"
                     height="18px">
              </th>
            </tr>
            <tr>
              <td>6011 8645 1067 5740</td>
              <td>3538 1118 7085 6309</td>
              <td>3897 6312 4292 3870</td>
            </tr>
            <tr>
              <td>6011 7313 3383 7874</td>
              <td>3566 0020 2036 0505</td>
              <td>3889 6224 1577 0032</td>
            </tr>
            <tr>
              <td>6011 0845 6829 9588</td>
              <td>3528 7698 9762 5015</td>
              <td>3868 1946 9338 8122</td>
            </tr>
            <tr>
              <td>6011 1111 1111 1117</td>
              <td>5423 4829 8607 5669</td>
              <td>3915 0135 4722 8529</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="bottom-container">
  <div class="bottom-left-div">
    <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"
       target="_blank">
      <img src="../assets/images/contact-me.PNG" width="200px" height="80px" class="float inline"
           alt="LinkedIn">
    </a>
  </div>
  <div class="bottom-center-div">
    <div class="related-works">Related Works</div>

    <div class="display footer">
      <div class="display padding">
        <a href="https://github.com/HassanShulli" target="_blank">
          <img src="../assets/images/github.png" class="display" alt="Github" width="27px" height="27px">
        </a>
      </div>

      <div class="display padding">
        <a href="https://link.medium.com/FZZwZ0YyXX" target="_blank">
          <img src="../assets/images/medium-logo.svg" class="display" alt="Medium" width="25px" height="25px">
        </a>
      </div>

      <div class="display padding">
        <a href="https://www.npmjs.com/package/cc-validate" target="_blank">
          <img src="../assets/images/Npm-logo.png" width="60px" height="25px" alt="NPM" class="display">
        </a>
      </div>
    </div>
  </div>
  <div class="bottom-right-div"></div>
</div>
